GtkViewport {
	background: none;
}

.notebook {
	background: #3675AD;
	font: Sans Bold 11;
}

.notebook > .frame,
.notebook > .vertical {
	background: #364752;
}

.notebook > .horizontal .label {
	color: #364752;

}

.notebook > .horizontal.active-page .label {
	color: #FFFFFF;
}

.notebook > .vertical .label,
.button .label {
	color: #3675AD;
}
